.footer{
    width: 100%;
    background: #003912;
    border-top-left-radius: 2.604vw;
    border-top-right-radius: 2.604vw;
    display: flex;
    flex-direction: column;
}

.footerTopContainer{
   width: 100%;
   display: flex;
   justify-content: center;
}

.footerTopDiv{
    width: 77.669vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12.381vh;
}

.footerTopDiv>span:nth-child(1){
    font-family: 'Lufga Bold';
    color: #ffffff;
    font-size: 4rem;
}

.footerTopDiv>span:nth-child(2){
    width: 41.667vw;
    font-family: 'Lufga Light';
    color: #ffffff;
    font-size: 1.5rem;
    text-align: center;
}

.footerBottomContainer{
    width: 100%;
    display: flex;
    padding: 0 2.214vw;
}

.footerBottomLeftContainer{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    justify-content: flex-start;
}

.footerBottomLeftContent{
    width: 17.643vw;
    min-height: 9.796vh;
    margin-top: 18.5vh;
}

.footerBottomLeftContent>span{
    font-family: 'Lufga Medium';
    font-size: 1rem;
    color: #ffffff;
}

.footerIconsDiv{
    display: flex;
    gap: 1vw;
}

.footerBottomRightContainer{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    gap: 4vw;
    padding-top: 9.388vh;
}

.footerBottomLinkContainer{
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.footerBottomLinkContainer>span:nth-child(1){
    font-family: 'Lufga Semibold';
    font-size: 1.5rem;
    color: #ffffff;
}

.footerBottomLinkContainer>span{
    font-family: 'Lufga Medium';
    font-size: 1rem;
    color: #ffffff;
}

.footerContactTitle>span{
    font-family: 'Lufga Semibold';
    font-size: 1.5rem;
    color: #ffffff;
}

.footerBottomContactContainer{
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.footerContactDiv{
    width: 18.839vw;
    min-height: 17.415vh;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.footerContactContent{
   display: flex;
   gap: 0.8vw;
}

.footerContactContent>span{
    font-family: 'Lufga Medium';
    font-size: 1rem;
    color: #ffffff;
}

.footerLine{
    width: 100%;
    padding: 1vw 2.214vw;
    padding-bottom:0.5vw ;
}

.foooterFinalSpan{
    width: 100%;
    padding-left: 2.214vw;
    margin-bottom: 1vw;
}

.foooterFinalSpan>span{
    font-family: 'Lufga Medium';
    font-size: 1rem;
    color: #ffffff;
}
