.contact{
    overflow-y: auto;
}

.contactTopDiv{
    width: 100%;
    height: 110vh;
    display: flex;
    flex-direction: column;
    background-image: url('../images/ContactBackground.svg'),linear-gradient( rgba(40, 90, 67, 1), rgba(40, 90, 67, 1));
    background-size: cover;
    background-repeat: no-repeat;
}

.contactBottomDiv{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactContainer{
    width: 77.865vw;
    min-height: 69.524vh;
    background: #ffffff;
    border-radius: 2.083vw;
    display: flex;
}

.contactLeftContainer{
    width: 31.966vw;
    min-height: 67.075vh;
    background: #063C17;
    margin: 1vw;
    border-radius: 2.083vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.604vw;
    gap: 2vw;
}

.contactRightContainer{
    flex: 1;
    padding: 2vw;
}

.contactLeftHeaderDiv{
    display: flex;
    flex-direction: column;
}

.contactLeftHeaderDiv>span:nth-child(1){
    color: #ffffff;
    font-family: 'Lufga Semibold';
    font-size: 1.75rem;
}

.contactLeftHeaderDiv>span:nth-child(2){
    color: #C9C9C9;
    font-family: 'Lufga';
    font-size: 1.125rem;
}

.contactLeftMiddleDiv{
    width: 21.94vw;
    min-height: 26.667vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contactLeftContent{
    display: flex;
    gap: 1.5vw;
}

.contactLeftContent>span{
    color: #ffffff;
    font-family: 'Lufga';
}

.contactLeftIconDiv{
    display: flex;
    gap: 1vw;
}

.contactForm{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 2vw;
    padding: 0.5vw 0;
}

.contactFormDiv{
    display: flex;
    justify-content: space-between;
}

.contactFormContent{
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
}

.contactFormContent>span{
    font-family: 'Lufga Bold';
    color: #063C17;
    font-size: 1.625rem;
}

.contactFormContent>input{
    width: 17.969vw;
    border: none;
    border-bottom: 3px solid #063C17;
    font-family: 'Lufga Bold';
    color: black;
    outline: 0;
    font-size: 1.2rem;
}

.contactMessageDiv{
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
}

.contactMessageDiv>span{
    font-family: 'Lufga Bold';
    color: #063C17;
    font-size: 1.625rem;
}

.contactMessageDiv>textarea{
    width: 100%;
    border: none;
    border-bottom: 3px solid #063C17;
    font-family: 'Lufga Bold';
    color: black;
    outline: 0;
    font-size: 1.2rem;
}

.contactButton{
    width: 13.939vw;
    min-height: 7.347vh;
    background: #063C17;
    border: none;
    border-radius: 1.953vw;
    color: #ffffff;
    font-family: 'Lufga Bold';
}

.contactFooterContainer{
    z-index: 2;
    margin-top: -3vw;
}

@media screen and (width<=480px) {

    .contactTopDiv {
        height: unset;
        padding-bottom: 5dvh;
    }

    .contactBottomDiv {
        margin-top: 5dvh;
        height: unset;
    }

    .contactContainer {
        width: 90vw;
        min-height: unset;
        flex-direction: column-reverse;
    }    

    .contactRightContainer {
        padding: 3dvh 8dvw;
    }

    .contactForm {
        gap: 3dvh;
    }

    .contactFormDiv {
        flex-direction: column;
        gap: 3dvh;
    }

    .contactFormContent {
        
    }

    .contactFormContent > span{
        font-size: 2.3rem;
    }

    .contactFormContent > input {
        width: 100%;
        font-size: 1.8rem;
    }

    .contactMessageDiv > span {
        font-size: 2.3rem;
    }

    .contactMessageDiv > textarea {
        font-size: 1.8rem;
    }

    .contactButton {
        width: 40dvw;
        min-height: 6dvh;
        font-size: 1.8rem;
    }

    .contactLeftContainer {
        width: unset;
        min-height: unset;
        padding: 3dvh 8dvw;
        gap: unset;
        justify-content: unset;
    }

    .contactLeftHeaderDiv>span:nth-child(1) {
        font-size: 2.3rem;
    }

    .contactLeftHeaderDiv>span:nth-child(2){
        font-size: 1.5rem;
    }

    .contactLeftMiddleDiv {
        width: unset;
        justify-content: unset;
        min-height: unset;
        padding: 4dvh 0;
        gap: 3dvh;
    }

    .contactLeftContent {
        align-items: center;
    }
    
    .contactLeftContent {
        font-size: 1.8rem;
    }

    .contactLeftIconDiv {
        gap: 5dvw;
    }

    .contactLeftIconDiv > img{
        width: 8dvw;
    }

    .contactFooterContainer {
        
    }
}