.header{
      display: flex;
      justify-content: space-between;
      align-items: center;
}
.mainContentProductAdding{
      display: flex;
      flex-direction: column;
      padding-inline: 170px;
      padding-top: 64px;
      font-family: lufga;
      color: #003912;
      margin-bottom: 300px;
}
.mainContentProductAdding .inputFields{
      display: flex;
      flex-direction: column;
}
.mainContentProductAdding .mainContentTitle{
      padding-bottom: 25px;
      font-size: 48px;
      font-weight: 500;
}
.mainContentProductAdding label{
      padding-top: 24px;
      padding-bottom: 16px;
      font-size: 20px;
      font-weight: 500;
      line-height: 24.2px;
}
.productAddingInputBox{
      height: 50px;
      border: 2px solid #D9D9D9;
      border-radius: 8px;
      padding-left: 25px;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
}
.productAddingInputBox:focus{
      outline-color: #003912;
}
.productAddingInputBox::placeholder{
      font-size: 20px;
      position: absolute;
      bottom: 0;
      top: 0;
      align-self: center;
}
.uploadPicturesText{
      font-size: 26px;
      font-weight: 700;
      padding-top: 32px;
}
.imageUploadSection{
      display: flex;
      align-items: center;
      gap: 2rem;
}
.fileSelectorInput{
      width: .1px;
      height: .1px;
      opacity: .1;
      position: absolute;
}
.fileAccessDiv img{
      width: 45px;
      position: absolute;
      top: 0;
      bottom: 0;
      align-self: center;
}
.fileAccessDiv{
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      border: 1px solid black;
      border-radius: 10px;
      background-color: #f5f5f5;
      width: 76px;
      height: 76px;
      cursor: pointer;
}
.fileAccessParentDiv{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
}
.imageUploadingButtonSpecifiers{
      font-size: 16px;
      color: black;
}
.mainContentProductAdding .productAddingConfirmButton{
      margin-top: 74px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #003912;
      color: white;
      border: none;
      font-size: 24px;
      font-weight: 700;
      border-radius: 5px;
      text-transform: uppercase;
      width: 100%;
}
.productAddingButtonDiv{
      width: 100%;
}
/* media queries starts */
@media (max-width: 481px){
      .mainContentProductAdding{
            padding-inline: 55px;
            padding-top: 30px;
      }
      .mainContentProductAdding .mainContentTitle{
            padding-bottom: 25px;
            font-size: 40px;
            line-height: 60px;
      }
      .imageUploadSection{
            gap: 2rem;
      }
      .fileAccessDiv{
            width: 70px;
            height: 70px;
      }
}
@media (max-width: 426px){
      .mainContentProductAdding{
            padding-inline: 45px;
      }
      .imageUploadSection{
            gap: 1.5rem;
      }
}
@media (max-width: 376px){
      .fileAccessDiv{
            width: 60px;
            height: 60px;
      }
      .fileAccessDiv img{
            width: 40px;
      }
      .imageUploadingButtonSpecifiers{
            font-size: 13px;
      }
}
@media (max-width: 321px){
      .mainContentProductAdding{
            padding-inline: 35px;
      }
      .mainContentProductAdding .mainContentTitle{
            font-size: 35px;
            line-height: 50px;
      }
      .productAddingInputBox::placeholder{
            font-size: 14px;
            position: unset;
      }
      .productAddingInputBox{
            height: 45px;
            padding-left: 18px;
      }
      .fileAccessDiv{
            width: 55px;
            height: 55px;
      }
      .fileAccessDiv img{
            width: 35px;
      }
      .imageUploadSection{
            gap: 1.4rem;
      }
}
/* media queries ends */
