.homeContainer{
    width: 100%;
    height:auto;
    display: flex;
    flex-direction: column;
}

.homeTopDiv{
    width: 100%;
    /* height: 105vh; */
    background-image: url('../images/HomeImage.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 15%;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.homeContent{
    display: flex;
    flex-direction: column;
    color: #ffffff;
    margin-left: 11.068vw;
    margin-top: 14.146vh;
    width: 76.302vw;
}

.topContent{
    font-family: 'Lufga Medium';
    font-size: 3.438rem;
    padding-left: 12.174vw;
    line-height: 1;
}

.middleContent{
    font-family: 'Lufga Bold';
    font-size: 12.188rem;
    padding-left: 12.174vw;
    line-height: 1;
}

.bottomContent{
    font-family: 'Lufga Medium';
    font-size: 2.188rem;
    padding-left: 22.917vw;
    margin-top: 0.5vw;
}

.orderButtonDiv{
    display: flex;
    justify-content: center;
    margin-top: 2vw;
}

.orderButton{
    width: 14.128vw;
    min-height: 9.116vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    color: #000000;
    font-family: 'Lufga Medium';
    font-size: 2rem;
    border: none;
    border-radius: 2.604vw;
}

.whatsappIconDiv{
    display: flex;
    justify-content: flex-end;
    padding-right: 2.5vw;
    margin-bottom: 10vh;

}

.homeMiddleDiv{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    background: #ffffff;
    border-radius: 2.604vw;
    position: relative;
    z-index: 2;
    margin-top: -2vw;
}

.categoryDiv{
    display: flex;
    padding: 1.953vw;
}

.categoryLeftDiv{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.categoryLeftTopDiv{
    width: 46.615vw;
    height: 48.435vh;
    border-radius: 2.604vw;
    background-image: url('../images/AllPlants.svg'),linear-gradient(rgba(0,0,0,1), rgba(0,0,0,1));
    display: flex;
    align-items: center;
    justify-content: center;
}

.categoryLeftBottomDiv{
    display: flex;
    gap: 1.3vw;
}

.categoryLeftBottomLeftDiv{
    width: 22.656vw;
    height: 49.116vh;
    border-radius:2.604vw;
    background-image: url('../images/AirPurifier.svg'),linear-gradient(rgba(0,0,0,1), rgba(0,0,0,1));
    display: flex;
    align-items: center;
    justify-content: center;
}

.categoryLeftBottomRightDiv{
    width: 22.656vw;
    height: 49.116vh;
    border-radius:2.604vw;
    background-image: url('../images/IndoorPlants.svg'),linear-gradient(rgba(0,0,0,1), rgba(0,0,0,1));
    display: flex;
    align-items: center;
    justify-content: center;
}

.categoryRightDiv{
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.categoryRightLeftDiv{
    width: 24vw;
    height: 100vh;
    border-radius:2.604vw;
    background-image: url('../images/OutdoorPlants.svg'),linear-gradient(rgba(0,0,0,1), rgba(0,0,0,1));
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.categoryName{
    font-family: 'Lufga Bold';
    font-size: 2.5rem;
    color: #ffffff;
    max-width: 15vw;
    text-align: center;
}

.categoryRightRightDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.categoryRightTopDiv{
    width:22.656vw ;
    height: 61.497vh;
    border-radius:2.604vw;
    background-image: url('../images/FloweringPlants.svg'),linear-gradient(rgba(0,0,0,1), rgba(0,0,0,1));
    display: flex;
    align-items: center;
    justify-content: center;
}

.categoryRightBottomDiv{
    width: 22.656vw;
    height: 36.599vh;
    border-radius:2.604vw;
    background-image: url('../images/ProsperityPlants.svg'),linear-gradient(rgba(0,0,0,1), rgba(0,0,0,1));
    display: flex;
    align-items: center;
    justify-content: center;
}


.aboutContainer,.latestContainer,.questionContainer{
    padding: 1.953vw;
    padding-top: 0;
}

.aboutDiv{
    width: 94.531vw;
    min-height: 89.252vh;
    background: #003912;
    border-radius: 2.604vw;
    display: flex;
}

.aboutLeftDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vw;
    padding-left: 1.823vw;
    color: #ffffff;
}

.aboutTitle{
  font-family: 'Lufga Bold';
  font-size: 2.5rem;
}

.aboutContent{
    width: 44.141vw;
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
}

.aboutContent>span{
    font-family: 'Lufga Semibold';
    font-size: 1.625rem;
}

.aboutContent>p{
    font-family: 'Lufga Medium';
    font-size: 1rem;
}

.aboutRightDiv{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding: 1.888vw;
}

.aboutRightDiv>img{
    width: 39.193vw;
    min-height: 81.497vh;
}



.latestDiv{
    display: flex;
    flex-direction: column;
    gap: 1.8vw;
}

.latestTitle{
    font-family: 'Lufga Bold';
    font-size: 2.5rem;
}

.latestArrivalDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.latestArrivalContent{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 3vw;
}

.plantDiv{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.plantCard{
    min-width: 22.786vw;
    min-height: 47.211vh!important;
    border-radius: 1.563vw!important;
    position: relative;
}

.plantImageDiv{
    padding: 0.5vw;
}

.plantCardBody{
    display: flex;
}

.plantCardContent{
    display: flex;
    flex-direction: column;
}

.plantName{
    font-family: 'Lufga Medium';
    font-size: 1.875rem;
    color: #000000;
    line-height: 1;
}

.plantDescription{
    font-family: 'Lufga';
    font-size: 1.125rem;
}

.plantPrice{
    display: flex;
    justify-content: space-between;
    font-family: 'Lufga Bold';
    font-size: 1.125rem;
    margin-top: 1vw;
}

.expandIconDiv{
    display: flex;
    align-items: flex-end;
}

.likeIcon{
    position: absolute;
    top: 3.129vh;
    left: 1.367vw;
}

.questionDiv{
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
    margin-bottom: 10vh;
}

.questionDivTitle{
    font-family: 'Lufga Bold';
    font-size: 2.5rem;
    color: #000000;
}

.faqDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #000000;
    border-radius: 2.604vw;
    font-family: 'Lufga Semibold';
    font-size: 2rem;
    padding-left: 3.481vw;
    min-height: 8.844vh;
    padding-right: 0.781vw;
}

.homeFooterDiv{
    position: relative;
    z-index: 3;
    margin-top: -2vw;
}


