.formDiv{
      padding-inline:10rem;
      padding-top: 5rem;
}
.title{
      color: #003912;
      font-size: 40px;
      margin-bottom: 2rem;
      text-align: left;
}
.inputDiv{
      display: flex;
      flex-direction: column;
      padding-inline: 50rem;
      padding-top: 6rem;
}
.inputDiv .passwordInput{
      height: 50px;
      border: 2px solid #D9D9D9;
      border-radius: 8px;
      padding-left: 20px;
      font-size:18px;
      display: flex;
      align-items: center;
      margin-bottom: 2rem;
}
.inputDiv .passwordInput{
      outline-color: #003912;
}
.passwordResetConfimButton{
      border: none;
      height: 50px;
      background-color: #003912;
      color: white;
      font-size: 24px;
      font-weight: 700;
      border-radius: 5px;
      margin-top:2rem;
}

/*media queries */
@media(max-width:481px){
      .inputDiv{
            padding-inline: 5rem;
      }
      .title{
            font-size: 35px;
      }
}