.features-component{
      display: flex;
      flex-direction: column;
      justify-content:start;
      align-items: start;
      font-family: lufga;
      padding-top: 20px;
      padding-left:64px;
      border: 2px solid #014716;
      border-radius:24px;
      width:676px;
      height: 180px;
}
.features-component .feature-title{
      color:#014716;
      font-size: 32px;
      font-weight: 500;
      line-height: 41.76px;
}
.features-component .feature-description{
      font-size: 16px;
      font-weight: 600;
      color: #014716;
      line-height: 20.88px;
      opacity: .5;
}
.features-component .button-div{
      padding-top: 2rem;
}
.features-component .button-div button{
      width: 199px;
      height: 54px;
      padding: 15px 48px;
      border: none;
      background-color: #014716;
      color: white;
      border-radius: 10px;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
}

/* media queries */
@media(max-width:431px){
      .features-component{
            width:100%;
            display: flex;
            justify-content:center;
            align-items:center;
            padding: 15px;
            height: 200px;
      }
      .features-component .feature-title{
            color:#014716;
            font-size: 25px;
            font-weight: 500;
      }
      .features-component .button-div button{
            width: 199px;
            height: 45px;
            display: flex;
            align-items: center;
      }
}